### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [341]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

## Player Count

* Display the total number of players

In [342]:
purchase_data = pd.read_csv(file_to_load)
purchase_data.drop_duplicates(subset='SN' ,keep='last', inplace=True)
data = [{'Players Count': len(purchase_data["SN"])}]
pf=pd.DataFrame(data)
pf

   Players Count
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [343]:
purchase_data = pd.read_csv(file_to_load)
unique_items = len(purchase_data["Item ID"].unique())

# Calculate the earliest/latest year a book was published
average_price = purchase_data["Price"].mean()
max_price = purchase_data["Price"].max()
min_price =  purchase_data["Price"].min()

# Calculate the total reviews for the entire dataset
summary_df= pd.DataFrame({"Unique Items": unique_items,
                              "Average Price": [average_price],
                              "Max Price": [max_price],
                              "Min Price": min_price})
summary_df

   Unique Items  Average Price  Max Price  Min Price
0           183       3.050987       4.99        1.0

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [344]:
purchase_data = pd.read_csv(file_to_load)
purchase_data.drop_duplicates(subset='SN' ,keep='last', inplace=True)
c= pd.DataFrame({"Total Count": purchase_data.groupby('Gender').size(),'Percentage': purchase_data.groupby('Gender').size()/len(purchase_data)*100})
c

                       Total Count  Percentage
Gender
Female                          81   14.062500
Male                           484   84.027778
Other / Non-Disclosed           11    1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [351]:
purchase_data = pd.read_csv(file_to_load)
purchase_data_no_duplicates=purchase_data.drop_duplicates(subset='SN')
purchase_analysis= pd.DataFrame({'Purchase Count': purchase_data.groupby('Gender').size(),'Average Purchase Price':purchase_data.groupby('Gender')['Price'].mean(),'Total Purchase Value':purchase_data.groupby('Gender')['Price'].sum(),'Avg Total Purchase per Person':purchase_data.groupby('Gender')['Price'].sum()/purchase_data_no_duplicates.groupby('Gender').size()})
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [346]:
bins = [0, 9, 14, 19, 24, 29,34,39,47]
# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data = purchase_data.groupby("Age Group")

# Find how many rows fall into each bin
age_demographics= pd.DataFrame({'Total Count': purchase_data["Age"].count(),'Percentage of players':purchase_data["Age"].count()/len(purchase_data["SN"])})
age_demographics

           Total Count  Percentage of players
Age Group
<10                 23                  2.875
10-14               28                  3.500
15-19              136                 17.000
20-24              365                 45.625
25-29              101                 12.625
30-34               73                  9.125
35-39               41                  5.125
40+                 13                  1.625

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [347]:
Puchase_Analysis_Byage= pd.DataFrame({'Purchase Count':purchase_data["Age"].size(),'Average Purchase Price':purchase_data["Price"].mean(),'Total Purchase Value':purchase_data["Price"].sum(),'Purchase total per person':purchase_data["Price"].sum()/purchase_data["Age"].size()})
Puchase_Analysis_Byage

,Purchase Count,Average Purchase Price,Total Purchase Value,Purchase total per person
Age Group,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [359]:
purchase_data = pd.read_csv(file_to_load)
total_spenders= pd.DataFrame({'Purchase Count': purchase_data.groupby('SN').size()})
result = total_spenders.sort(['Purchase Count'], ascending=[1])
result

AttributeError: 'DataFrame' object has no attribute 'sort'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame