### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

## Player Count

* Display the total number of players

In [3]:
purchase_data = pd.read_csv(file_to_load)
purchase_data.drop_duplicates(subset='SN' ,keep='last', inplace=True)
data = [{'Players Count': len(purchase_data["SN"])}]
pf=pd.DataFrame(data)
pf

   Players Count
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_data = pd.read_csv(file_to_load)
unique_items = len(purchase_data["Item ID"].unique())

# Calculate the earliest/latest year a book was published
average_price = purchase_data["Price"].mean()
max_price = purchase_data["Price"].max()
min_price =  purchase_data["Price"].min()

# Calculate the total reviews for the entire dataset
summary_df= pd.DataFrame({"Unique Items": unique_items,
                              "Average Price": [average_price],
                              "Max Price": [max_price],
                              "Min Price": min_price})
summary_df

   Unique Items  Average Price  Max Price  Min Price
0           183       3.050987       4.99        1.0

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
purchase_data = pd.read_csv(file_to_load)
purchase_data.drop_duplicates(subset='SN' ,keep='last', inplace=True)
c= pd.DataFrame({"Total Count": purchase_data.groupby('Gender').size(),'Percentage': purchase_data.groupby('Gender').size()/len(purchase_data)*100})
c

                       Total Count  Percentage
Gender
Female                          81   14.062500
Male                           484   84.027778
Other / Non-Disclosed           11    1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
purchase_data = pd.read_csv(file_to_load)
purchase_data_no_duplicates=purchase_data.drop_duplicates(subset='SN')
purchase_analysis= pd.DataFrame({'Purchase Count': purchase_data.groupby('Gender').size(),'Average Purchase Price':purchase_data.groupby('Gender')['Price'].mean(),'Total Purchase Value':purchase_data.groupby('Gender')['Price'].sum(),'Avg Total Purchase per Person':purchase_data.groupby('Gender')['Price'].sum()/purchase_data_no_duplicates.groupby('Gender').size()})
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins = [0, 9, 14, 19, 24, 29,34,39,47]
# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data = purchase_data.groupby("Age Group")

# Find how many rows fall into each bin
age_demographics= pd.DataFrame({'Total Count': purchase_data["Age"].count(),'Percentage of players':purchase_data["Age"].count()/len(purchase_data["SN"])})
age_demographics

           Total Count  Percentage of players
Age Group
<10                 23                  2.875
10-14               28                  3.500
15-19              136                 17.000
20-24              365                 45.625
25-29              101                 12.625
30-34               73                  9.125
35-39               41                  5.125
40+                 13                  1.625

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
Puchase_Analysis_Byage= pd.DataFrame({'Purchase Count':purchase_data["Age"].size(),'Average Purchase Price':purchase_data["Price"].mean(),'Total Purchase Value':purchase_data["Price"].sum(),'Purchase total per person':purchase_data["Price"].sum()/purchase_data["Age"].size()})
Puchase_Analysis_Byage

,Purchase Count,Average Purchase Price,Total Purchase Value,Purchase total per person
Age Group,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
purchase_data = pd.read_csv(file_to_load)
total_spenders= pd.DataFrame({'Purchase Count': purchase_data.groupby('SN').size(),'Average Purchase Price':purchase_data.groupby('SN')['Price'].mean(),'Total Purchase Value':purchase_data.groupby('SN')['Price'].sum()})
total_spenders=total_spenders.sort_values('Purchase Count', axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last')
total_spenders

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                   5                3.792000                 18.96
Iral74                      4                3.405000                 13.62
Idastidru52                 4                3.862500                 15.45
Asur53                      3                2.480000                  7.44
Inguron55                   3                3.703333                 11.11
Aina42                      3                3.073333                  9.22
Ilarin91                    3                4.233333                 12.70
Idai61                      3                2.743333                  8.23
Umolrian85                  3                2.710000                  8.13
Ialallo29                   3                3.946667                 11.84
Tyisur83                    3                1.786667                  5.36
Tyidaim51                   3                3.943333                 11.83
Pheodaisun84                3                2.770000                  8.31
Hiaral50                    3                1.396667                  4.19
Haillyrgue51                3                3.166667                  9.50
Zontibe81                   3                2.676667                  8.03
Iri67                       3                3.790000                 11.37
Hada39                      3                2.856667                  8.57
Raesty92                    3                2.910000                  8.73
Rarallo90                   3                3.016667                  9.05
Chadolyla44                 3                3.820000                 11.46
Saedaiphos46                3                2.943333                  8.83
Saistyphos30                3                3.443333                 10.33
Siallylis44                 3                3.456667                 10.37
Chamimla85                  3                2.100000                  6.30
Silaera56                   3                2.826667                  8.48
Chamjask73                  3                4.610000                 13.83
Chanastnya43                3                2.940000                  8.82
Strithenu87                 3                3.393333                 10.18
Sondastsda82                3                2.630000                  7.89
...                       ...                     ...                   ...
Haerith37                   1                1.660000                  1.66
Iduelis31                   1                1.100000                  1.10
Hiral75                     1                1.980000                  1.98
Idaisuir85                  1                3.150000                  3.15
Idacal95                    1                2.070000                  2.07
Iathenudil29                1                4.600000                  4.60
Iathem87                    1                3.190000                  3.19
Iasursti71                  1                1.660000                  1.66
Iasurriacal29               1                4.070000                  4.07
Iarallo65                   1                1.750000                  1.75
Iana95                      1                3.100000                  3.10
Ialidru40                   1                3.160000                  3.16
Iadueria43                  1                1.710000                  1.71
Hyaduesu61                  1                4.230000                  4.23
Hisridru55                  1                3.080000                  3.08
Hilaerin92                  1                3.610000                  3.61
Haerithp41                  1                4.400000                  4.40
Hiasurria41                 1                1.610000                  1.61
Hiarideu73                  1                2.500000                  2.50
Heunadil74                  1                1.540000                  1.54
Heudai45                    1                3.470000                  3.47
Heollyriap59                1                3.470000                  3.47
Heollyra92                  1                3.070000                  3.07
Hariphos58                  1                2.050000                  2.05
Hallysucal81                1                1.660000                  1.66
Hala31                      1                1.020000                  1.02
Haisurra41                  1                4.400000                  4.40
Hailaphos89                 1                3.810000                  3.81
Haestyphos66                1                1.970000                  1.97
Iskosian40                  1                3.070000                  3.07

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
most_popular_itmes= pd.DataFrame({'Purchase Count': purchase_data.groupby(['Item ID','Item Name']).size(),'Item Price':purchase_data.groupby(['Item ID','Item Name'])['Price'].mean(),'Total Purchase Value':purchase_data.groupby(['Item ID','Item Name'])['Price'].sum()})
most_popular_itmes=most_popular_itmes.sort_values('Purchase Count', axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last')
most_popular_itmes.reset_index()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
1,145,Fiery Glass Crusader,9,4.58,41.22
2,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
3,82,Nirvana,9,4.90,44.10
4,19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
5,103,Singed Scalpel,8,4.35,34.80
6,75,Brutality Ivory Warmace,8,2.42,19.36
7,72,Winter's Bite,8,3.77,30.16
8,60,Wolf,8,3.54,28.32
9,59,"Lightning, Etcher of the King",8,4.23,33.84
10,37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
11,34,Retribution Axe,8,2.22,17.76
12,92,Final Critic,8,4.88,39.04
13,53,Vengeance Cleaver,7,2.05,14.35
14,110,Suspension,7,1.44,10.08
15,7,"Thorn, Satchel of Dark Souls",7,1.33,9.31
16,71,Demise,7,1.61,11.27
17,117,"Heartstriker, Legacy of the Light",7,1.79,12.53
18,159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
19,85,Malificent Bag,7,1.75,12.25
20,164,Exiled Doomblade,7,1.63,11.41
21,141,Persuasion,7,3.19,22.33
22,78,"Glimmer, Ender of the Moon",7,4.40,30.80
23,102,Avenger,6,3.44,20.64
24,129,"Fate, Vengeance of Eternal Justice",6,1.54,9.24
25,93,Apocalyptic Battlescythe,6,1.97,11.82
26,54,Eternal Cleaver,6,2.50,15.00
27,3,Phantomlight,6,2.49,14.94
28,2,Verdict,6,2.48,14.88
29,40,Second Chance,6,2.52,15.12
...,...,...,...,...,...
153,81,Dreamkiss,2,3.61,7.22
154,6,Rusty Skull,2,3.70,7.40
155,18,"Torchlight, Bond of Storms",2,4.65,9.30
156,26,Unholy Wand,2,1.12,2.24
157,28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
158,30,Stormcaller,2,2.21,4.42
159,158,"Darkheart, Butcher of the Champion",2,2.45,4.90
160,69,"Frenzy, Defender of the Harvest",2,1.98,3.96
161,132,Persuasion,2,3.33,6.66
162,63,Stormfury Mace,2,4.99,9.98
163,56,Foul Titanium Battle Axe,2,2.92,5.84
164,127,"Heartseeker, Reaver of Souls",2,3.92,7.84
165,48,"Rage, Legacy of the Lone Victor",2,2.48,4.96
166,125,Whistling Mithril Warblade,2,1.00,2.00
167,43,Foul Edge,2,3.54,7.08
168,115,Spectral Diamond Doomblade,2,2.04,4.08
169,33,Curved Axe,2,1.16,2.32
170,31,Trickster,2,1.55,3.10
171,118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
172,47,"Alpha, Reach of Ending Hope",1,3.58,3.58
173,42,The Decapitator,1,1.75,1.75
174,27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
175,126,Exiled Mithril Longsword,1,2.00,2.00
176,51,Endbringer,1,4.66,4.66
177,90,Betrayer,1,2.94,2.94
178,104,Gladiator's Glaive,1,1.93,1.93
179,23,Crucifer,1,1.99,1.99
180,180,Stormcaller,1,3.36,3.36
181,91,Celeste,1,4.17,4.17
182,134,Undead Crusader,1,4.50,4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
most_popular_itmes_by_purchase_value=most_popular_itmes.sort_values('Total Purchase Value', axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last')
most_popular_itmes_by_purchase_value.reset_index()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
1,82,Nirvana,9,4.90,44.10
2,145,Fiery Glass Crusader,9,4.58,41.22
3,92,Final Critic,8,4.88,39.04
4,103,Singed Scalpel,8,4.35,34.80
5,59,"Lightning, Etcher of the King",8,4.23,33.84
6,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
7,78,"Glimmer, Ender of the Moon",7,4.40,30.80
8,72,Winter's Bite,8,3.77,30.16
9,60,Wolf,8,3.54,28.32
10,179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
11,160,Azurewrath,6,4.40,26.40
12,25,Hero Cane,6,4.35,26.10
13,37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
14,139,"Mercy, Katana of Dismay",5,4.94,24.70
15,128,"Blazeguard, Reach of Eternity",5,4.91,24.55
16,138,"Peacekeeper, Wit of Dark Magic",5,4.74,23.70
17,141,Persuasion,7,3.19,22.33
18,87,"Deluge, Edge of the West",5,4.43,22.15
19,159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
20,136,Ghastly Adamantite Protector,6,3.58,21.48
21,65,Conqueror Adamantite Mace,5,4.24,21.20
22,101,Final Critic,5,4.19,20.95
23,102,Avenger,6,3.44,20.64
24,133,Faith's Scimitar,5,4.09,20.45
25,39,"Betrayal, Whisper of Grieving Widows",5,3.94,19.70
26,111,Misery's End,4,4.89,19.56
27,165,Bone Crushing Silver Skewer,4,4.86,19.44
28,52,Hatred,4,4.84,19.36
29,75,Brutality Ivory Warmace,8,2.42,19.36
...,...,...,...,...,...
153,124,Venom Claymore,4,1.29,5.16
154,0,Splinter,4,1.28,5.12
155,155,War-Forged Gold Deflector,5,1.01,5.05
156,48,"Rage, Legacy of the Lone Victor",2,2.48,4.96
157,158,"Darkheart, Butcher of the Champion",2,2.45,4.90
158,51,Endbringer,1,4.66,4.66
159,134,Undead Crusader,1,4.50,4.50
160,30,Stormcaller,2,2.21,4.42
161,135,Warped Diamond Crusader,3,1.40,4.20
162,91,Celeste,1,4.17,4.17
163,177,"Winterthorn, Defender of Shifting Worlds",2,2.08,4.16
164,70,Hope's End,4,1.03,4.12
165,115,Spectral Diamond Doomblade,2,2.04,4.08
166,69,"Frenzy, Defender of the Harvest",2,1.98,3.96
167,47,"Alpha, Reach of Ending Hope",1,3.58,3.58
168,180,Stormcaller,1,3.36,3.36
169,27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
170,183,Dragon's Greatsword,3,1.09,3.27
171,31,Trickster,2,1.55,3.10
172,168,"Sun Strike, Jaws of Twisted Visions",2,1.48,2.96
173,90,Betrayer,1,2.94,2.94
174,33,Curved Axe,2,1.16,2.32
175,26,Unholy Wand,2,1.12,2.24
176,118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
177,28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
178,125,Whistling Mithril Warblade,2,1.00,2.00
179,126,Exiled Mithril Longsword,1,2.00,2.00
180,23,Crucifer,1,1.99,1.99
181,104,Gladiator's Glaive,1,1.93,1.93
182,42,The Decapitator,1,1.75,1.75